/* Homepage Modules */
.news-ticker {
	overflow: hidden;
	margin: 20px 0;
}
.news-ticker.section { display: block; }
.news-ticker .controls { float: left; margin-right: 15px; }
.news-ticker .controls a {
	display: block;
	width: 23px; height: 25px;
	text-indent: -5000px;
	background-repeat: no-repeat;
	background-image: url('../../img/sprite_ticker-control.png');
}
.news-ticker .controls a.prev { background-position: 0 0; margin-bottom: 1px; }
.news-ticker .controls a.next { background-position: 0 -78px; }

.news-ticker .item { float: left; overflow: hidden; }

.news-ticker .item img,
.news-ticker .item .ticker-text {
	float: left;
}
.news-ticker .item .ticker-text {
	margin: 0 15px 0;
}

.news-ticker .item .ticker-text h3,
.news-ticker .item .ticker-text h4 {
	margin: 0;
	line-height: 1em;
}
.news-ticker .item .ticker-text h3 { font-size: 22px; margin-bottom: 5px; }
.news-ticker .item .ticker-text h4 { font-size: 16px; }

/* Resources */
.resources {
	background: #851782;
	padding: 0;
	color: #fff;
}
.resources.section { display: block; }
.resources .interior { padding: 10px; }

.resources .interior h3 { margin: 0; font-size: 21px; }

/* Events */
.events {
	background: #b7cd00;
	color: #000;
}
.events .interior {
	padding: 10px;
}

.events .interior h3 { margin: 0; font-size: 21px; }

.events.section { display: block; }

/* Benefits & Discounts */
.benefits-discounts {
	background: #d7234a;
	padding: 10px;
	color: #fff;
}
.benefits-discounts.section { display: block; }

.benefits-discounts .interior h3 { margin: 0; font-size: 20px; }


/* Homecoming */
/* We might want to make this more generic once we have a block (module) audit */
.homecoming {
	background: #b7cd00 url('../../img/blockhead_homecoming.jpg') top left no-repeat;
	padding: 82px 0 0;
}

.homecoming h3 { font-size: 27px; margin: 12px 5px 5px; line-height: 1em; }

.homecoming p { font-size: 13px; margin: 0 5px 10px; width: 200px; }

.filmstrip-block {
	background: #fff;
	margin: 10px 5px; padding: 5px;
}

.filmstrip-block h4 { font-size: 15px; margin: 0 0 5px; }

.filmstrip-block .thumbnails {
	margin-left: -5px;
	margin-bottom: 0;
}

.filmstrip-block .thumbnails > li {
	float: left;
	margin: 0 0px 0px 5px;
}

.filmstrip-block .thumbnail {
	display: block;
	padding: 0px;
	line-height: 18px;
	border: 0px solid #DDD;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.filmstrip-block .thumbnail > img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.homecoming a.more {
	display: inline-block;
	margin: 12px 5px 15px; padding: 2px 25px 3px 0;
	background: transparent url('../../img/arrow_signup.png') 100% 0 no-repeat;
	font-size: 16px;
	color: #000;
	font-family: 'PhoenixSansMedium';
}

