form.filter {
	border-bottom: 1px solid #000;
	padding: 0 0 5px;
	margin: 0 0 5px;
	overflow: hidden;
}

form.filter .year {
	float: left;
	width: 50%;
}

form.filter .year select {
	width: auto;
	margin: 2px;
}

form.filter .filters {
	float: right;
	font-size: 12px;
}

form.filter .filters span { border-left: 1px solid #dddedb; margin: 0 0 0 4px; padding: 0 0 0 6px; }
form.filter .filters span:first-child { border-left: none; }

form.filter .filters input { width: 60px; font-size: 11px; margin: 2px 0 2px 2px; }

/* Tha grid */
.thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0px;
	line-height: 18px;
	border: 0px solid #DDD;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.thumbnail > p {
	font-size: 12px;
	background: #000;
	background: rgba(0,0,0,0.70);
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0; right: 0px;
	margin: 0;
	padding: 0 5px;
}

.thumb-hover {
	position: absolute;
	top: -103px; left: 0;
	padding: 5px;
	width: 198px; height: 93px;
	background: #0099cc;
	background: rgba(0,153,204,0.85);
	color: #fff;
}

.thumb-hover p.count { font-size: 10px; }

/* Lightbox */
.modal.lb-gallery {
	width: 754px;
	margin-left: -377px;
}

.lb-gallery .modal-body { max-height: 650px; }