/* Use for overlay colors */
.orange { background: #FF6600; background: rgba(255, 102, 0, 0.90); color: #fff; }
.orange a { color: #fff; }
.red { background: #D7234A; background: rgba(215, 35, 74, 0.90); color: #fff; }
.red a { color: #fff; }
.purple { background: #851782; background: rgba(133, 23, 130, 0.90); color: #fff; }
.purple a { color: #fff; }
.blue { background: #0099CC; background: rgba(0, 153, 204, 0.90); color: #fff; }
.blue a { color: #fff; }
.pale-blue { background: #A3DBE8; background: rgba(163, 219, 232, 0.90); color: #000; }
.pale-blue a { color: #000; }
.green { background: #4FAC1C; background: rgba(79, 172, 28, 0.90); color: #fff; }
.green a { color: #fff; }
.avocado { background: #B7CD00; background: rgba(183, 205, 0, 0.90); color: #000; }
.avocado a { color: #000; }

/*	Global component styles. [YH]
------------------------------------*/
.component {
	margin-bottom: 24px;
	padding: 0 10px 15px 10px;
	border: 1px solid #ededed;
}

.component header {
	display: block;
	background-color: #ededed;
	margin: 0 -10px 15px -10px;
	padding: 7px;
}

.component h2 {
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	margin: 0 8px 0 0;
}

.component h3 {
	color: #666666;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 12px;
	display: inline-block;
}

/*	Different Hero Styles
------------------------------------*/
/* Layout Options Global */
.hero-unit.opt { padding: 0; background: transparent; position: relative; }

.hero-unit > .row > .span {  }

.hero-overlay { position: absolute; }
.hero-overlay.opt-01 {
	top: 0; left: 30px;
	width: 276px;
	padding: 30px 20px 15px;
}
.hero-overlay.opt-02 {
	top: 0; left: 0;
	width: 288px; height: 305px;
	padding: 30px 20px 15px;
}
.hero-overlay.opt-03 {
	top: 0; left: 0;
	width: 555px; height: 262px;
	padding: 30px 20px 15px;
}

.hero-overlay h3 { margin: 0 0 15px; font-size: 30px; font-family: 'PhoenixSansMedium'; line-height: 1.2em; }
.hero-overlay p { margin: 0 0 15px; }

.hero-overlay a.read-more {
	margin: 10px 0 0;
	padding: 2px 25px 3px 0;
	background: transparent url('../../img/arrow_signup.png') 100% 0 no-repeat;
	font-size: 16px;
	font-family: 'PhoenixSansMedium';
}

.hero-extra {
	border: 1px solid #d5d6d2;
	border-width: 1px 0;
	padding: 30px 0;
	height: 290px;
}
.hero-extra.spec { border: 0; padding: 0; }


.hero-extra h4 {
	font-family: 'PhoenixSansMedium';
	font-size: 18px;
	margin: 0 0 10px;
}
.hero-extra p {
	font-size: 16px;
}
.hero-extra p a {
	font-family: 'PhoenixSansMedium';
	font-size: 20px;
	padding: 0 25px 0 0;
	background: transparent url('../../img/arrow_signup.png') 100% 2px no-repeat;
}

.hero-extra .offer {
	position: relative;
	overflow: hidden;
}
.hero-extra .offer:first-child {
	margin-bottom: 23px;
}

.hero-extra .offer h4 {
	position: absolute; top: 0; left: 0; right: 0;
	padding: 2px 4px;
	font-size: 14px;
	font-family: 'PhoenixSansLight';
}

.hero-extra .overlay {
	height: 105px;
	max-height: 105px;
	overflow: hidden;
	background: #000;
	background: rgba(0,0,0,0.8);
	padding: 20px 30px;
	position: absolute; left: 0; right: 0; bottom: -145px;
	font-size: 17px;
	color: #fff;
	font-family: 'PhoenixSansMedium';
	cursor: pointer;
}
.hero-extra .overlay a { color: #fff; }

/*	Homecoming
------------------------------------*/
.homecoming-hero .hero-unit {
	padding: 28px;
	color: #fff;
}
.homecoming-hero .hero-unit.blue { background: #0099CC; background: rgba(0, 153, 204, 0.90); }

.homecoming-hero .hero-unit h2 {
	font-size: 48px;
	margin: 0 0 20px;
	font-family: 'PhoenixSansMedium';
}
.homecoming-hero .hero-unit h3 {
	font-size: 48px;
	margin: 0 0 45px;
	font-family: 'PhoenixSansLight';
}
.homecoming-hero .hero-unit h4 {
	font-size: 29px;
	margin: 0 0 20px;
	font-family: 'PhoenixSansMedium';
}

.homecoming-hero .hero-unit a.read-more {
	padding: 0 25px 0 0;
	background: transparent url('../../img/arrow_signup.png') 100% bottom no-repeat;
	font-size: 22px;
	color: #fff;
	line-height: 1.3em;
}

/* HC Events Hero */
.hc-events { background: #fff; position: relative; box-shadow: 0 0 5px 0 #888; }

.hc-events .copy {
	position: absolute; bottom: 0; left: 0; right: 0;
	background: #fff;
	background: rgba(255,255,255,0.90);
	font-size: 13px;
	padding: 15px 5px 5px;
}

.hc-events .copy h3 {
	font-family: 'PhoenixSansMedium';
	font-size: 12px;
	margin: 0 0 10px;
	line-height: 1.0em;
}

.hc-events .copy p { margin: 0 0 5px; }

.hc-events .copy a { font-family: 'PhoenixSansMedium'; }

/* HC Hero Twitter */
.hc-tweets {
	background: #fff;
	background: rgba(255,255,255,0.90);
	position: relative;
	box-shadow: 0 0 5px 0 #888;
	padding: 5px;
}

.hc-tweets h3 {
	margin: 5px 0 6px; padding: 0 0 6px 24px;
	line-height: 1.0em;
	font-size: 17px;
	font-family: 'PhoenixSansMedium';
	background: transparent url('../../img/logo_twitter.png') left top no-repeat;
	border-bottom: 1px dotted #b7b8af;
}

.hc-tweets ul {
	list-style: none;
	margin: 0; padding: 0;
}

.hc-tweets ul li {
	margin: 0 0 5px; padding: 0 5px 5px;
	border-bottom: 1px dotted #b7b8af;
	font-size: 12px;
}

.hc-tweets ul li span.timestamp {
	display: block;
	margin: 5px 0 0;
	color: #666;
}

.hc-tweets a.read-more {
	font-size: 12px;
	font-family: 'PhoenixSansMedium';
}

/*	FAQ
------------------------------------*/
.faq h2 {
	font-size: 30px;
	border-bottom: 1px solid #000;
	padding: 0 0 10px 0; margin: 0 0 20px 0;
}
.faq-item {
	background: url('../../img/bg_faq.png') top left no-repeat;
	padding: 0 0 25px 45px; margin: 0 0 20px 0;
	border-bottom: 1px solid #c1c1c1;
}

.faq-item .question { font-size: 18px; font-family: 'PhoenixSansMedium'; }
.faq-item .answer { font-size: 15px; }