/*	Global
------------------------------------*/
.titlebox {
	margin: 0 0 20px; padding: 0;
	overflow: hidden;
	font-size: 14px;
}

/*	"More-Link" Variations
------------------------------------*/
.titlebox a.more-link.arrow-white {
	display: block;
	background: url('../../img/arrow_more-white.png') right 0 no-repeat;
	font-size: 15px;
	color: #fff;
}

.titlebox a.more-link.arrow-black {
	display: block;
	background: url('../../img/arrow_more-black.png') right 0 no-repeat;
	font-size: 15px;
	color: #000;
	font-family: 'PhoenixSansMedium';
}

.titlebox a.more-link.circle-black {
	display: inline-block;
	margin: 12px 5px 15px; padding: 2px 25px 3px 0;
	background: transparent url('../../img/arrow_circle-black.png') 100% 0 no-repeat;
	font-size: 16px;
	color: #000;
	font-family: 'PhoenixSansMedium';
}

.titlebox a.more-link.carat-blue {
	display: inline-block;
	margin: 0; padding: 0 8px 0 0;
	background: transparent url('../../img/arrow_carat-blue.png') right center no-repeat;
}

/*	Link Lists
------------------------------------*/
.titlebox .linklist ul {
	margin: 0; padding: 0;
	font-size: 12px;
}

.titlebox .linklist ul li {
	list-style: none;
	margin: 0 0 5px; padding: 6px 0 0;
	border-top: 1px dotted #fff;
}
.titlebox.orange .linklist ul li { border-color: #fff; }
.titlebox.red .linklist ul li { border-color: #fff; }
.titlebox.purple .linklist ul li { border-color: #fff; }
.titlebox.blue .linklist ul li { border-color: #fff; }
.titlebox.pale-blue .linklist ul li { border-color: #000; }
.titlebox.green .linklist ul li { border-color: #fff; }
.titlebox.avocado .linklist ul li { border-color: #000; }

.titlebox .linklist h4 {
	line-height: 1.0em;
	margin: 0;
	font-size: 14px;
	font-family: 'PhoenixSansMedium';
}
.titlebox .linklist p {
	line-height: 1.4em;
	margin: 0;
}

.titlebox .linklist ul li > a {
	font-family: 'PhoenixSansMedium';
}

/* Block Style */
.titlebox .linklist.block-white ul li { background: url('../../img/arrow_more-white.png') right center no-repeat; }
.titlebox .linklist.block-black ul li { background: url('../../img/arrow_more-black.png') right center no-repeat; }

.titlebox .linklist.block-white ul li > a,
.titlebox .linklist.block-black ul li > a
{
	font-family: 'PhoenixSansLight';
}
.titlebox .linklist.block-white ul li > a h4,
.titlebox .linklist.block-black ul li > a h4
{
	font-family: 'PhoenixSansMedium';
}

/* Liner Style */
.titlebox .linklist.liner {
	font-size: 13px;
	border-top: 1px dotted #fff;
	margin: 0; padding: 5px 0 0;
}
.titlebox .linklist.liner ul {
	display: block;
	padding: 0; margin: 0 0 15px;
}
.titlebox .linklist.liner ul li {
	list-style: none;
	margin: 0 0 5px; padding: 0;
	border: 0;
}

.titlebox .linklist.liner ul li a {
	color: #fff;
	text-decoration: underline;
	font-family: 'PhoenixSansMedium';
}


/*	Solid
------------------------------------*/
.titlebox.solid {
	padding: 0;
}

.titlebox.solid.orange { background: #FF6600; color: #fff; }
.titlebox.solid.red { background: #D7234A; color: #fff; }
.titlebox.solid.purple { background: #851782; color: #fff; }
.titlebox.solid.blue { background: #0099CC; color: #fff; }
.titlebox.solid.pale-blue { background: #A3DBE8; color: #000; }
.titlebox.solid.green { background: #4FAC1C; color: #fff; }
.titlebox.solid.avocado { background: #B7CD00; color: #000; }

.titlebox.solid .interior {
	overflow: hidden;
	padding: 5px 10px 10px;
}

.titlebox.solid h3 {
	margin: 10px 10px 0; padding: 0;
	line-height: 1em;
	font-size: 20px;
	font-family: 'PhoenixSansMedium';
}

.titlebox.solid .more {
	margin: 0; padding: 6px 0 0;
	border-top: 1px dotted #fff;
}
.titlebox.solid.pale-blue .more { border-color: #000; }
.titlebox.solid.avocado .more { border-color: #000; }

/*	Bounded
------------------------------------*/
.titlebox.bounded {}

.titlebox.bounded .interior {
	overflow: hidden;
	border: 2px solid #ededed;
	border-width: 0 2px 2px;
	padding: 10px;
}

.titlebox.bounded.grey { background: #fff; color: #000; border-top: 2px solid #ededed; }
.titlebox.bounded.orange { background: #fff; color: #000; border-top: 2px solid #FF6600; }
.titlebox.bounded.red { background: #fff; color: #000; border-top: 2px solid #D7234A; }
.titlebox.bounded.purple { background: #fff; color: #000; border-top: 2px solid #851782; }
.titlebox.bounded.blue { background: #fff; color: #000; border-top: 2px solid #0099CC; }
.titlebox.bounded.pale-blue { background: #fff; color: #000; border-top: 2px solid #A3DBE8; }
.titlebox.bounded.green { background: #fff; color: #000; border-top: 2px solid #4FAC1C; }
.titlebox.bounded.avocado { background: #fff; color: #000; border-top: 2px solid #B7CD00; }

.titlebox.bounded h3 {
	margin: 0; padding: 2px 10px;
	font-size: 18px;
	line-height: 1em;
}
.titlebox.bounded.grey h3 { background: #ededed; color: #000; }
.titlebox.bounded.orange h3 { background: #FF6600; color: #fff; }
.titlebox.bounded.red h3 { background: #D7234A; color: #fff; }
.titlebox.bounded.purple h3 { background: #851782; color: #fff; }
.titlebox.bounded.blue h3 { background: #0099CC; color: #fff; }
.titlebox.bounded.pale-blue h3 { background: #A3DBE8; color: #000; }
.titlebox.bounded.green h3 { background: #4FAC1C; color: #fff; }
.titlebox.bounded.avocado h3 { background: #B7CD00; color: #000; }

.titlebox.bounded .body-text {
	background: #ededed;
	margin: 0 -10px; padding: 5px 10px;
}
.titlebox.bounded .body-text p {
	line-height: 1.5em;
	padding: 0 0 5px;
	border-bottom: 1px dotted #8a8f92;
}

.titlebox.bounded .more {
	background: #ededed;
	margin: 0 -10px -10px; padding: 0 10px 5px;
}
.titlebox.bounded .more a { color: #006697; }
.titlebox.bounded.grey .more {
	background: 0;
	margin: 0; padding: 0;
}

/*	Open
------------------------------------*/
.titlebox.open {}
.titlebox.open h3 { background: transparent; padding: 0 0 5px; margin: 0 0 10px; border-bottom: 1px solid #000; }
.titlebox.content .section { border: 0; padding: 0; }
.titlebox.content .img { border: 2px solid #ededed; text-align: center; }

/*	Carousels
------------------------------------*/
.titlebox .carousel {
	border-width: 0 2px;
	margin: 0;
}
.titlebox .ic_button {
	width: 7px; height: 7px;
	background: #d5d6d2;
	display: inline-block;
	margin: 0 5px;
}
.titlebox .ic_button.ic_active { background: #000; }

.ic_ic-products { margin: 0 auto; }
.ic_ic-products .ic_right_nav, .ic_ic-products .ic_left_nav { display: none; }

