/*	Core styles
-----------------*/
.clear { clear: both; }

/* Some layout overrides */
.row.full.homecoming-hero {
	background: transparent url('../img/bg_homecoming.gif') top left repeat-x;
	padding: 30px 0 20px; margin-bottom: 30px;
}

.row.full .layout-center {
	margin: 0 auto;
	width: 980px;
}