/*	Core styles
-----------------*/
.clear { clear: both; }

@media (min-width: 1200px) {
  .row {
  margin-left: -15px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 15px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 961px;
}
.span16 {
  width: 961px;
}
.span15 {
  width: 900px;
}
.span14 {
  width: 839px;
}
.span13 {
  width: 778px;
}
.span12 {
  width: 717px;
}
.span11 {
  width: 656px;
}
.span10 {
  width: 595px;
}
.span9 {
  width: 534px;
}
.span8 {
  width: 473px;
}
.span7 {
  width: 412px;
}
.span6 {
  width: 351px;
}
.span5 {
  width: 290px;
}
.span4 {
  width: 229px;
}
.span3 {
  width: 168px;
}
.span2 {
  width: 107px;
}
.span1 {
  width: 46px;
}
.offset16 {
  margin-left: 991px;
}
.offset15 {
  margin-left: 930px;
}
.offset14 {
  margin-left: 869px;
}
.offset13 {
  margin-left: 808px;
}
.offset12 {
  margin-left: 747px;
}
.offset11 {
  margin-left: 686px;
}
.offset10 {
  margin-left: 625px;
}
.offset9 {
  margin-left: 564px;
}
.offset8 {
  margin-left: 503px;
}
.offset7 {
  margin-left: 442px;
}
.offset6 {
  margin-left: 381px;
}
.offset5 {
  margin-left: 320px;
}
.offset4 {
  margin-left: 259px;
}
.offset3 {
  margin-left: 198px;
}
.offset2 {
  margin-left: 137px;
}
.offset1 {
  margin-left: 76px;
}