.container { min-width: 960px !important; }

/*** // HEADER // ***/
header .nav-pills > li > a {
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Toolbar navbar */
header .navbar { color: #fff; margin: 0; background: #0099cc; }

header .navbar-inner {
	background-color: #0099cc;
	background-image: none;
	min-height: auto;
	padding: 0;
	background-repeat: no-repeat;
	filter: none;
	border: 0px solid #D4D4D4;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
	width: 967px;
	margin: 0 auto;
}

header .navbar .nav {
	margin: 0px 10px 0 0;
}

header .navbar .nav > li > a {
	border-right: 1px solid #fff;
	padding: 7px 7px 6px; 
	color: #fff;
	text-shadow: none;
	font-size: 12px;
}
header .navbar .nav > li.last > a { border-right: 0px solid #fff; }

form.navbar-search {
	margin-top: 0;
}

header .navbar-search .search-query {
	margin: 2px 10px;
	padding: 2px 6px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1em;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* Main nav */
header .container {
	background: transparent url('../img/bg_nav.png') 100% -69px no-repeat;
	height: 119px;
}

header h1 {
	display: block;
	float: left;
	margin: 25px 0 0 0;
}
header h1.brand a {
	display: inline-block;
	width: 230px; height: 59px;
	overflow: hidden;
	text-indent: -5000px;
	background: transparent url('../img/logo_alumni.png') top left no-repeat;
}

nav#site {
	display: inline-block;
	float: right;
	margin: 68px 0 0 0;
}

nav#site .nav-pills > li {
	border-right: 1px solid #a5a5a5;
}
nav#site .nav-pills > li > a {
	margin: 0 12px; padding: 0;
	font-family: 'PhoenixSansMedium';
	font-size: 18px;
	line-height: 18px;
}
nav#site .nav-pills > li.last { border: 0; }
nav#site .nav-pills > li.last > a { margin-right: 0; }

nav#site .nav-pills > li.active > a {
	background: none;
	color: #000;
	border-bottom: 4px solid #000;
	padding-bottom: 2px;
}

/*** // LAYOUT ISSUES // ***/
.sidebar {
	margin-top: 52px;
}

/*** // PAGE HEADLINE // ***/
.page-headline h2 {
	font-size: 44px;
	font-family: 'PhoenixSansMedium';
	margin: 0 0 15px;
}

/*** // BREADCRUMB // ***/
.breadcrumb {
	padding: 0;
	margin: 0 0 18px;
	list-style: none;
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 11px;
}


.row.modules-home { margin-bottom: 20px; }


/*** // FOOTER // ***/
footer .container {
	background: #666666;
	color: #fff;
	font-size: 11px;
}

footer .container a {
	color: #fff;
	text-decoration: underline;
}

footer .wrap-shim { padding: 5px 0px 5px 15px; }

footer span[itemprop='name'] { display: none; }

/* Navs */
footer .container .nav { margin-bottom: 10px; }

footer .container nav a { text-decoration: none; }

footer .nav-pills > li > a { margin: 0 2px 0 0; border-radius: 0; }
footer .nav-pills > li > a:hover { background: transparent; text-decoration: underline; }

nav#footer { margin: 5px 0 0 0 }
nav#footer .nav-pills > li > a { border-right: 1px solid #999; padding: 0 8px; }
nav#footer .nav-pills > li.last > a { border-right: 0px solid #999; }

nav#footer-social .nav-pills > li > a { padding: 0 8px 0 12px; }
nav#footer-social .nav-pills > li > a#fb { background: transparent url('../img/icon-foot_facebook.png') left center no-repeat; }
nav#footer-social .nav-pills > li > a#twitter { background: transparent url('../img/icon-foot_twitter.png') left center no-repeat; }
nav#footer-social .nav-pills > li > a#linkedin { background: transparent url('../img/icon-foot_li.png') left center no-repeat; }
nav#footer-social .nav-pills > li > a#rss { background: transparent url('../img/icon-foot_rss.png') left center no-repeat; }
nav#footer-social .nav-pills > li > a#phx-connect { background: transparent url('../img/icon-foot_phx-connect.png') left center no-repeat; }